* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.overlay {
  display: none;
  position: absolute;
  text-align: center;
   top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dialogBox {
  background: white;
  padding: 20px;
  border-radius: 16px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cancel {
  color: #1877F2;
  background: none;
  font-size: 30px;
}

.delete {
  color: #F02849;
  background: none;
  font-size: 30px;

}
html,
body {
  overflow-x: hidden;
  position: relative;
  height: 100%;
  transition: all 0.3s ease-in-out;

}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  margin-left: -210px; 
}

.swiper-flex {
  display: flex;
  align-items: center;
}




.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}


body {
  margin: 0;
  background-color: #FFFFFF;
  padding: 5px;
}

.w-50 {
  width: 45%;
}

.w-30 {
  width: 28%;
}

header {
  padding-top: 5px;
  padding: 10px;
}

.myProfile-btn {
  all: unset;
}

#profile-img {
  border-radius: 100%;
  width: 150px;
  border: 10px solid rgb(201, 200, 200);
  height: 150px;
  object-fit: contain;
  image-rendering: auto;
}
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.loading-spinner {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.content {
  display: none; 
}

header h1 {
  font-size: 50px;
}

header .profileava {
  width: 150px;
  object-fit: contain;
  image-rendering: auto;
  height: 150px;
}

header i {
  border-radius: 100%;
  padding: 30px;
  background-color: #0000000A;
  font-size: 50px;
}

.edit-btn,
.camera-btn {
  background-color: transparent;
  border: none;
}

.search-inp {
  width: 100%;
  background-color: #0000000D;
  border-radius: 20px;
  text-align: center;
  display: flex;
  margin-top: 20px;
}

.search-inp i {
  color: #8E8E93;
  background-color: transparent;
}

.input-search {
  width: 100%;
  background-color: transparent;
  outline: none;
  text-align: center;
  border: none;
  text-align: left;
  font-size: 40px;
 padding-right: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.storys-swiper {
  margin-top: 50px;
}

.story-add-btn {
  border: none;
  background-color: transparent;
}

#story-add {
  font-size: 100px;
  padding: 15px 20px;
  background-size: cover;
}

.add-story p {
  text-align: center;
  font-size: 22px;
  color: #00000059;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.swiper-slide p {
  font-size: 22px;
  text-align: center;
  color: #000000;
  z-index: 1500;
  display: flex  ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.img-ava-friend {
  object-fit: contain;
  image-rendering: auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.on-btn {
  background-color: #5AD439;
  width: 50px;
  height: 50px;
  border: 7px solid #FFFFFF;
  border-radius: 100%;
  position: absolute;
  bottom: 70px;
  left: 100px;
  /* display: none; */
}

.contacts-container {
  margin-top: 50px;

}

.contact {
  height: 80px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;

  margin-left: 200px;
  background-color: #fff;
}

.contact img {
  height: 150px;
  margin: 10px;
  width: 150px;
}

.flex-contact {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 30px;
}


.contact .contact-online-time {
  position: absolute;
  left: 215px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #00000080;
}

button.contact-btn {
  all: unset;
}

.contact-name {
  font-size: 40px;
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.call-btn {
  all: unset;
}

.call-btn i {
  background-color: greenyellow;
  color: #fff;
  font-size: 40px;
  padding: 30px;
  border-radius: 100%;
}

.videoCall-btn {
  all: unset;
}

.videoCall-btn i {
  margin-left: 30px;
  background-color: rgb(101, 101, 255);
  color: #fff;
  font-size: 40px;
  padding: 30px;
  border-radius: 100%;
}


.contact-profile-btn i{
  margin-left: 30px;
  background-color: #0000000A;
  color: #000000;
  font-size: 40px;
  padding: 30px;
  border-radius: 100%;
}

.contact-mute-btn{
  all: unset;
}
.contact-mute-btn i{
  background-color: #0000000A;
  color: #000000;
  font-size: 40px;
  padding: 30px;
  border-radius: 100%;
  margin-left:90px;

}
#delete-contact-icon{
  margin-left: 30px;
  background-color: red;
  color: #fff;
  font-size: 40px;
  padding: 30px;
  border-radius: 100%;
}
.delete-contact {
  background-color: transparent;
    margin-left:90px;
  }
.delete-contact button{
  all:unset;
}




 footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;    
  background-color: rgba(255, 255, 255, 0.5);
z-index: 1000;
  backdrop-filter: blur(54.36563491821289px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 0.33px solid #A6A6AA;
  
 }
 .footer-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
 }
footer button{
  all: unset;
}

.nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.nav-icon{
  color:rgba(164, 170, 178);
  font-size: 70px;
  padding: 20px;
  transition:  0.3s ease  ;
  }
.nav-icon.active {
  color: #000000;
  border-bottom: 5px solid #000000;

}
  .overlay{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 1009;

  }
  .DialogSorov span{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .deleteBtn{
    border-left: none;
  }
  .dialogBox{
  display: block;
  justify-content: center;
  position: absolute;
top: 800px;
left: 40px;
  padding: 20px;

  width: 90%;
  text-align: center;
  
  }
  .dialogBox p{
    font-size: 32px;
    width: 70%;
   margin: 0 auto;
    color:gray;
text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #deleteBtn{
    border-radius: 0px;
  }
  .buttons:focus{
    outline: none;background-color: #000000;
  }
  .dialogBox h1{
    font-size: 40px;
  }
  .buttons{
    font-size: 5  0px;
    padding: 0px;
    padding: 15px;
    border-top:1px solid rgb(143, 143, 143);
  }